{% extends 'layouts.html' %}

{% block content %}
<div class="containerprr" style="position: absolute; top: 8.6%; left: 17.3%; height:100%; width:81%;">
    <div class="row" style ="margin-left: 0.1%;">
        <div class="col-12">
            <div class="card" style="margin-left: -1.2%; width: 103.35%;">

                <div class="card-body">
                    <div class="card-title mb-4">
                        <div class="d-flex justify-content-start">
                            <div class="image-container">
                                <img src="{{employee.imgprofile.url}}" id="imgProfile" style="width: 175px; height: 200px" class="img-thumbnail" />
                                <div class="middle">
                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                </div>
                            </div>
                            <div class="userData ml-3">
                                <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">{{employee.firstname}} {{employee.lastname}}</h2>
                                <h6 class="d-block">Team</h6>
                                <h6 class="d-block"> Postion</h6>
                            </div>
                            <div class="ml-auto">
                                <input type="button" class="btn btn-primary d-none" id="btnDiscard" value="Discard Changes" />
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="connectedServices-tab" data-toggle="tab" href="#connectedServices" role="tab" aria-controls="connectedServices" aria-selected="false">Contact Info</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false">Image</a>
                                </li>
                                <li class="nav-item" style="margin-left: 68.5%;">
                                    <a class="nav-link" id="edit-tab" data-toggle="tab" href="#edit" role="tab" aria-controls="edit" aria-selected="false">Edit <i class="fas fa-pencil-alt"></i></a>
                                </li>
                            </ul>
                            <div class="tab-content ml-1" id="myTabContent">
                                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Title</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.title}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Name</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.firstname}} {{employee.lastname}}
                                        </div>
                                    </div>
                                    <hr />
                                    

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">First Name</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.firstname}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Last Name</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.lastname}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Birth Date</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.birthday}}
                                        </div>
                                    </div>
                                    <hr />
                                    
                                    
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Gender</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.gender}}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Nationality</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.nation}}
                                        </div>
                                    </div>
                                    <hr />
                                    
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Type</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.Type}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">ID No.</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.idno}}
                                        </div>
                                    </div>
                                    <hr />

                                </div>
                                <div class="tab-pane fade" id="connectedServices" role="tabpanel" aria-labelledby="ConnectedServices-tab">
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Contact No.</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.contact}}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Email</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.email}}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Line</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.line}}
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Facebook</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.facebook}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Address</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.adresss}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Address Contact</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.adcontact}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Oversea Adress</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.overseaadresss}}
                                        </div>
                                    </div>
                                    <hr />
                                    
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Oversea Adress Contact</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.ovcontact}}
                                        </div>
                                    </div>
                                    <hr />
                                    
                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Emergency Adress</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.emerseaadresss}}
                                        </div>
                                    </div>
                                    <hr />

                                    <div class="row">
                                        <div class="col-sm-3 col-md-2 col-5">
                                            <label style="font-weight:bold;">Emergency Adress Contact</label>
                                        </div>
                                        <div class="col-md-8 col-6">
                                            {{employee.emercontact}}
                                        </div>
                                    </div>
                                    <hr />

                                </div>
                                
                                <div class="tab-pane fade " id="image" role="tabpanel" aria-labelledby="image-tab">
                                    
                                    <div class="row">
                                        
                                        <div class="card h-85" style="margin-left:6%">
                                            <div class="image-container" style="margin-left:0%;">
                                                <img src="{{employee.imgstraight.url}}" id="imgProfile" style="width: 175px; height: 200px" class="img-thumbnail" />
                                                <div class="middle">
                                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                                </div>
                                            </div>  
                                            <div class="card-footer" style="margin-top: 0%;text-align: center;">
                                                <h6 class="card-title" style="margin-top:2%; margin-bottom: 3%;">Straight</h6>
                                            </div>
                                        </div>

                                        <div class="card h-85" style="margin-left:3%">
                                            <div class="image-container" style="margin-left:0%;">
                                                <img src="{{employee.imgtop.url}}" id="imgProfile" style="width: 175px; height: 200px" class="img-thumbnail" />
                                                <div class="middle">
                                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                                </div>
                                            </div>  
                                            <div class="card-footer" style="margin-top: 0%;text-align: center;">
                                                <h6 class="card-title" style="margin-top:2%; margin-bottom: 3%;">Top</h6>
                                            </div>
                                        </div>

                                        <div class="card h-85" style="margin-left:3%">
                                            <div class="image-container" style="margin-left:0%;">
                                                <img src="{{employee.imgbottom.url}}" id="imgProfile" style="width: 175px; height: 200px" class="img-thumbnail" />
                                                <div class="middle">
                                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                                </div>
                                            </div>  
                                            <div class="card-footer" style="margin-top: 0%;text-align: center;">
                                                <h6 class="card-title" style="margin-top:2%; margin-bottom: 3%;">Bottom</h6>
                                            </div>
                                        </div>

                                        <div class="card h-85" style="margin-left:3%">
                                            <div class="image-container" style="margin-left:0%;">
                                                <img src="{{employee.imgleft.url}}" id="imgProfile" style="width: 175px; height: 200px" class="img-thumbnail" />
                                                <div class="middle">
                                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                                </div>
                                            </div>  
                                            <div class="card-footer" style="margin-top: 0%;text-align: center;">
                                                <h6 class="card-title" style="margin-top:2%; margin-bottom: 3%;">Left</h6>
                                            </div>
                                        </div>

                                        <div class="card h-85" style="margin-left:3%">
                                            <div class="image-container" style="margin-left:0%;">
                                                <img src="{{employee.imgright.url}}" id="imgProfile" style="width: 175px; height: 200px" class="img-thumbnail" />
                                                <div class="middle">
                                                    <input type="file" style="display: none;" id="profilePicture" name="file" />
                                                </div>
                                            </div>  
                                            <div class="card-footer" style="margin-top: 0%;text-align: center;">
                                                <h6 class="card-title" style="margin-top:2%; margin-bottom: 3%;">Right</h6>
                                            </div>
                                        </div>
                                    </div>
                                    <hr/>
                                    
                                    <form class="img" role="form"  method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Profile</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                            {% csrf_token %}
                                            {{form_image.imgprofile}}
                                            </div>
                                         </div>
                                         <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Straight</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                            {% csrf_token %}
                                            {{form_image.imgstraight}}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Top</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                            {% csrf_token %}
                                            {{form_image.imgtop}}
                                            </div>
                                        </div>
                                        <hr />
                                    
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Bottom</label>
                                             </div>
                                            <div class="col-md-8 col-6">
                                            {% csrf_token %}
                                            {{form_image.imgbottom}}
                                            </div>
                                        </div>
                                        <hr />
                                    
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Left</label>
                                            </div>
                                             <div class="col-md-8 col-6">
                                            {% csrf_token %}
                                            {{form_image.imgleft}}
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Right</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                            {% csrf_token %}
                                            {{form_image.imgright}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;"></label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <button type="submit" name="btnform1" >Submit</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="tab-pane fade " id="edit" role="tabpanel" aria-labelledby="edit-tab">
                                    <form class="image" role="form"  method="POST" enctype="multipart/form-data" >
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Firstname</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{form.firstname}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Lastname</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{form.lastname}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">email</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{form.email}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">status</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{form.status}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Type</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                {{form.Type}}
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;"></label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <button type="submit" name="btnform2" >Submit</button>
                                            </div>
                                        </div>
                                    </form>     
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}